@charset "UTF-8";
/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
aside nav, .closure, .columns, .description, section, header {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -40px;
  /* [3] */
  letter-spacing: -0.31em;
}

/* Opera hack */
.opera:-o-prefocus,
aside nav,
.closure,
.columns,
.description,
section,
header {
  word-spacing: -0.43em;
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
aside nav div, .copyright,
.source, .error .error-text, .columns aside, .columns .text, .description aside, .description .text, article, #logo,
#intro,
nav.menu {
  display: inline-block;
  /* [1] */
  padding-left: 40px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */
  letter-spacing: normal;
  word-spacing: normal;
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
/**
 * Align the entire grid to the right. Extends `.grid`.
 */
/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.description {
  text-align: center;
}
aside nav .description > div, .description > .copyright,
.description > .source, .error .description > .error-text, .columns .description > aside, .columns .description > .text, .description > aside, .description > .text, .description > article, .description > #logo,
.description > #intro,
.description > nav.menu {
  text-align: left;
}

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
/**
 * Create grids with wider gutters. Extends `.grid`.
 */
/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.error .error-text, article, .frontpage #logo,
.frontpage #intro,
.frontpage nav.menu {
  width: 100%;
}

/**
 * Halves
 */
.copyright,
.source, article.list {
  width: 50%;
}

/**
 * Thirds
 */
aside nav div, nav.menu {
  width: 33.333%;
}

/**
 * Quarters
 */
.description aside {
  width: 25%;
}

/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
#logo {
  width: 8.333%;
}

.columns aside {
  width: 41.666%;
}

.columns .text, .description .text, #intro {
  width: 58.333%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  .copyright,
.source, .columns aside, .columns .text, .description aside, .description .text, article.list, .resume, nav.menu, #logo {
    width: 100%;
  }

  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*=push--] {
  position: relative;
}

/**
 * Whole
 */
/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
.description aside {
  left: 8.333%;
  position: relative;
}

@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*=pull--] {
  position: relative;
}

/**
 * Whole
 */
/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
/* merriweather-300 - latin-ext_latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-300.woff2") format("woff2"), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-300italic - latin-ext_latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-300italic.woff2") format("woff2"), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-regular - latin-ext_latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-italic - latin-ext_latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-italic.woff2") format("woff2"), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-700 - latin-ext_latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-700italic - latin-ext_latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-700italic.woff2") format("woff2"), url("../fonts/merriweather-v22/merriweather-v22-latin-ext_latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-900 - latin-ext_latin */
/* merriweather-900italic - latin-ext_latin */
/* merriweather-sans-300 - latin-ext_latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-300.woff2") format("woff2"), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-500 - latin-ext_latin */
/* merriweather-sans-600 - latin-ext_latin */
/* merriweather-sans-700 - latin-ext_latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-800 - latin-ext_latin */
/* merriweather-sans-300italic - latin-ext_latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-300italic.woff2") format("woff2"), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-italic - latin-ext_latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-italic.woff2") format("woff2"), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-500italic - latin-ext_latin */
/* merriweather-sans-600italic - latin-ext_latin */
/* merriweather-sans-700italic - latin-ext_latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-700italic.woff2") format("woff2"), url("../fonts/merriweather-sans-v14/merriweather-sans-v14-latin-ext_latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-800italic - latin-ext_latin */
@font-face {
  font-family: "antoniopiu-icons";
  src: url("../fonts/icons/antoniopiu-icons.woff?na15c4") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: "antoniopiu-icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff url(../images/noise.png);
  font-family: "Merriweather", "Palatino Linotype", Palatino, serif;
  margin: 0;
  color: #1e2123;
  font-size: 16px;
  line-height: 26px;
}

a:link,
a:visited {
  color: #ce433c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 a:link,
h2 a:visited,
h2 a:hover {
  color: #222;
  text-decoration: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}

header {
  padding-top: 60px;
}
@media screen and (max-width: 1023px) {
  header {
    padding-top: 30px;
  }
}

#logo {
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 1023px) {
  #logo {
    text-align: center;
    margin-bottom: 0px;
  }
}

nav.menu {
  font-size: 12px;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 2px;
  padding-top: 48px;
}
@media screen and (max-width: 1023px) {
  nav.menu {
    text-align: center;
    padding-top: 0px;
  }
}

.sep {
  color: #ddd;
  display: inline-block;
  font-size: 18px;
  padding: 0 0.5em;
  font-weight: 300;
}

.frontpage #logo,
.frontpage #intro,
.frontpage nav.menu {
  text-align: center;
  padding-top: 0;
}

.frontpage nav.menu {
  margin: 20px 0 0px;
  font-size: 13px;
}

header a:link,
header a:visited,
header a:hover {
  color: #2a2830;
  text-decoration: none;
}

.sitename {
  font-size: 16px;
  font-family: "Merriweather Sans", sans-serif;
  padding-top: 48px;
}
@media screen and (max-width: 1023px) {
  .sitename {
    display: none;
  }
}

.frontpage .sitename {
  padding-top: 0;
}

.sitename span {
  font-style: italic;
  font-size: 14px;
  color: #999;
  display: inline-block;
  margin-left: 1em;
  font-weight: 300;
}

.resume {
  font-size: 20px;
  line-height: 32px;
}
@media screen and (max-width: 1023px) {
  .resume {
    font-size: 19px;
    line-height: 30px;
  }
}

.contact {
  text-align: center;
  margin-bottom: 3em;
}

@media screen and (max-width: 480px) {
  .contact br {
    display: none;
  }
}

section {
  padding: 40px 0;
}

.frontpage section {
  padding: 50px 0 20px;
}

.about article {
  margin-bottom: 30px;
}

article.list {
  margin-bottom: 40px;
}

.image img {
  width: 100%;
}

.caption {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

.caption h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
}

.caption hr {
  width: 20px;
  margin: 8px auto 5px;
  border: none;
  background: #666;
  height: 1px;
  display: block;
}

.caption .services {
  font-size: 13px;
  color: #aaa;
  font-style: italic;
  font-weight: 300;
}

.caption .services p {
  margin: 0;
}

.cover {
  margin-bottom: 40px;
}

.cover img {
  width: 100%;
}

.description {
  margin-bottom: 70px;
}

@media screen and (max-width: 1023px) {
  .columns aside {
    margin-top: 35px;
  }
}

.error .error-text {
  text-align: center;
  margin: 50px 0 100px;
}

.error h1 {
  font-size: 96px;
  color: #333;
}

.introduction {
  font-size: 28px;
  line-height: 40px;
  font-weight: 300;
  color: #999;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 1023px) {
  .introduction {
    font-size: 26px;
    line-height: 36px;
  }
}

.introduction p {
  margin-top: 30px;
  padding: 0 10%;
}
@media screen and (max-width: 1023px) {
  .introduction p {
    padding: 0 4%;
  }
}

@media screen and (max-width: 1023px) {
  .introduction p br {
    display: none;
  }
}

article aside {
  font-family: "Merriweather Sans", sans-serif;
  color: #999;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

article aside > div {
  margin-bottom: 60px;
}

article aside p {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.client,
.subtitle {
  padding-top: 20px;
  text-align: center;
}

.client,
article aside h3,
.subtitle {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #302f36;
  font-style: normal;
  margin-top: 14px;
}

@media screen and (max-width: 1023px) {
  .columns aside h3 {
    text-align: center;
  }
}

article aside ul,
article aside ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: italic;
}

@media screen and (max-width: 1023px) {
  .columns aside ul,
.columns aside ul li {
    text-align: center;
  }
}

.text h2 {
  font-size: 18px;
}
@media screen and (max-width: 1023px) {
  .text h2 {
    text-align: center;
  }
}

.text p + h2 {
  margin-top: 50px;
}

.aside {
  padding-left: 20px;
  color: #666;
  font-style: normal;
}
@media screen and (max-width: 1023px) {
  .aside {
    padding-left: 0px;
  }
}

.aside p {
  margin-bottom: 1em;
}

.portrait .caption {
  text-align: left;
  font-size: 12px;
  margin-top: 0;
  color: #666;
}

.portrait .caption em {
  font-style: normal;
  font-weight: 400;
  color: #555;
}

.footnotes {
  margin-top: 60px;
  font-size: 14px;
  line-height: 22px;
}

.footnotes hr {
  display: none;
}

.footnotes ol,
.footnotes ol li {
  margin: 0;
  padding-left: 0.3em;
}

.footnotes ol {
  padding-left: 1.5em;
}

.showcase img {
  margin-bottom: 60px;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .showcase img {
    margin-bottom: 20px;
  }
}

footer {
  font-size: 15px;
  line-height: 20px;
  max-width: 960px;
  margin: 0 auto 50px;
}

footer a:link,
footer a:visited,
footer a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1023px) {
  .copyright,
.source {
    text-align: center;
  }
}

.copyright {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
}

.source {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
  text-align: right;
}
@media screen and (max-width: 1023px) {
  .source {
    text-align: center;
  }
}

sup {
  line-height: 0;
}

aside nav {
  margin-bottom: 75px;
}

aside nav div {
  font-size: 36px;
}

aside nav div a:link,
aside nav div a:visited {
  color: #cecece;
}

aside nav div a:hover {
  color: #ce433c;
  text-decoration: none;
}

.list {
  text-align: center;
}

.next {
  text-align: right;
}

::selection {
  color: #111;
  background-color: #fdefaa;
  text-shadow: none;
}

::-moz-selection {
  color: #111;
  background-color: #fdefaa;
  text-shadow: none;
}
